---
import { parseDate } from "@helpers/date";
import IconPoint from "@icons/point.astro";

interface Props {
  name: string;
  id: string;
  createdAt: string;
  username: string;
  content: string;
}
const { content, createdAt, id, name, username } = Astro.props;
const longerContent = content.length > 200;
---

<div class="post__container">
  <div>
    <h2 class="post__h2">
      {name}
      <IconPoint />
      <a href={`/users/${id}`}>@{username}</a>
      <IconPoint />

      <span>
        {parseDate(createdAt)}
      </span>
    </h2>
    <p class="post__content ocult">
      {content}
    </p>
    {longerContent && <button class="post__content__btn">More...</button>}
  </div>
</div>

<style>
  .post__container {
    grid-area: info;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 6px;
  }
  .post__h2 {
    display: flex;
    align-items: center;
    font-size: large;

    & > svg {
      color: var(--color_secondary);
    }
    & > a,
    & > span {
      color: var(--color_secondary_text);
      font-size: small;
      font-style: italic;
    }
  }
  .post__content {
    overflow: hidden;
    text-align: left;
    max-width: 55ch;
  }
  .ocult {
    max-height: 200px;
  }

  .post__content__btn {
    color: var(--color_accent);
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
</style>
